.footerContainer {
  // background-color: var(--color-primary);
  color: var(--color-primary-light);
  border-top: 1px solid;
  padding: 1.5rem;
  padding-top: 3rem;

  .innerContainer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    .iconButton {
      transition: all 0.3s ease;

      &:hover {
        background-color: #ffffff;
        color: #000000; // optional: change icon color
      }
    }

    .logo {
      background-image: url("../../assets/icons/nmtechLogo.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 160px;
      height: 90px;
      cursor: pointer;

      @media (max-width: 450px) {
        width: 120px;
        height: 70px;
      }
    }

    .link {
      position: relative;
      text-decoration: none !important;
      display: inline-block !important;
      padding-bottom: 4px;
      align-self: flex-start;
      color: var(--color-primary-light) !important;

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--color-primary-light);
        transition: width 0.5s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
